<?xml version="1.0"?>
<config>
    <modules>
        <NoName_ShippingMethodsForCustomerGroup>
            <version>1.0.0</version>
        </NoName_ShippingMethodsForCustomerGroup>
    </modules>
    
    <global>
        <models>
            <spmethodsforcustoemrgroup>
                <class>NoName_ShippingMethodsForCustomerGroup_Model</class>
            </spmethodsforcustoemrgroup>
            <shipping>
                <rewrite>
                    <shipping>NoName_ShippingMethodsForCustomerGroup_Model_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <helpers>
            <spmethodsforcustoemrgroup>
                <class>NoName_ShippingMethodsForCustomerGroup_Helper</class>
            </spmethodsforcustoemrgroup>
        </helpers>
    </global>
</config>